# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local

# Build outputs
frontend/build/
frontend/dist/
frontend/.minista/
frontend/.cache/
frontend/ssg/
backend/.cache/
backend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# VSCode & IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Pycharm
*.iml
*.ipr
*.iws
out/

# Misc
*.local
