.menu {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    justify-items: stretch;
  }
}
